@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Zen+Kurenaido&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #ddd;
}
#heading{
    font-size: 4.6em;
    padding: 20px 20px;
    color: rgb(75, 47, 75);
    cursor: pointer;
    text-shadow: 10px 1px pink;
}
#nav ul{
    display: flex;
    position: absolute;
    padding:10px 20px;
    right: 0px;
    flex-flow: row wrap;
    align-items: center;
    background-color: gray;
    border-bottom-left-radius: 20px;
    justify-content: flex-end;
    animation: change 2s ease-in 0s infinite alternate;
    z-index: 2;
}
@keyframes change {
    from { background-color: gray;}
    to{ background-color: rgb(68, 63, 63);}
}
#nav ul li{
    list-style: none;
    padding: 10px 20px;
}
#nav ul li a{
    font-family: 'Zen Kurenaido', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 22px;
}

#nav ul li a:hover{
    color: #ddd;
    background-color: black;
    transition: 0.5s ease-in;
}
#content{
    /* display: none; */
    position: absolute;
    right: 370px;
    border: 2px dotted #ccc;
    padding: 20px 20px;
    width: 800px;
    font-size: 1.5rem;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
#content:hover{
    background-color: gray;
    color: #ddd;
    transition: 0.5s ease-in;
}
#arrow-head{
    border-bottom: 100px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 0;
    height: 0;
    margin: 10px 80px;
    margin-bottom: 100px;
    animation: arrowup 1s ease-in 0s 4 forwards;
}
@keyframes arrowup {
    from{ 
        position : absolute;
        top: 200px;
    }
    to{ 
        top: 10px;
    }
}
#fin1{
    margin-top: 100px;
    position: absolute;
    left: 19%;
    right: 40%;
    top: 50%;
    z-index: 2;
}
#blockchain{
    position: absolute;
    top: 130%;
    margin: 20px 20px;
    width: 50%;
    left: 0px;
    font-weight: bold;
    border: 2px dotted #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 60px;
    line-height: 40px;
    font-size: 1.5rem;
}
#blockchain>h1{
    text-align: center;
}
#online{
    margin: 20px 20px;
    position: absolute;
    top: 160%;
    right: 0px;
    width: 50%;
    font-weight: bold;
    border: 2px dotted #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 60px;
    line-height: 40px;
    font-size: 1.5rem;
}
#online>h1{
    text-align: center;
}
#crowd{
    margin: 20px 20px;
    position: absolute;
    top: 180%;
    width: 50%;
    left: 0px;
    font-weight: bold;
    border: 2px dotted #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 60px;
    line-height: 40px;
    font-size: 1.5rem;
}
#crowd>h1{
    text-align: center;
}
#footer{
    position: absolute;
    top: 250px;
    margin-top: 1900px;
    text-align: center;
    width: 100%;
}